* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
width: 100%;
padding: 20px 8%;
background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAtU1ung4iFgkgA9MJ6gXDUe99x_r1CS4RLQ&s)

#logo {
font-size: 1.5rem;
color: white;
font-weight: 600;

}

.navbar {
width: 100%;
font-size: 50px;
display: flex;
align-items: center;
justify-content: space-between;
}

.nav_lista {
display: flex;
list-style: none;
gap: 80px;
text-transform: uppercase;
}

.nav_item {
font-size: 25px;
color: white;
}

.nav_item:hover {
background-color: white;
color: black;
text-decoration: underline;
}

.home{
display: flex;
min-height: calc(100vh);
}
section{
width: 100%;
padding: 20px 8%;
display: flex;
} 
.titulo {
    font-size: 4rem;
    color: aqua;
}
.titulocor {
    color: blanchedalmond;
}
.titulocolor {

color: blue;

}

.menu-toggle{
display: none;
flex-direction: column;
cursor: pointer
background: none;
padding: 5px;
}
.menu-toggle span {
width: 25px;
heigth:3px





}